html {
  background-color: #EEC170;
  color: #772F1A;
  font-family: 'Abril Fatface', cursive;}
img {
  width: 25%;
  border: thick solid #585123;
}
ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding-bottom: 14px;
    overflow: hidden;
    background-color: #F58549;
}
li {
    float: right;
    display: block;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 36px;
}
#about {
  padding: 5px;
  margin: 5px;
}
#images {
  padding-top: 15px;
  padding-left: 250px;
}
p {
  font-size: 36px;
}
